.body{
    background-image: url('\ТЗ_18.03.2024\897876989.png');
}

.text_color_1{
    color: darkred;
}

.text_color_2{
    color: darkred;
}

.text_color_3{
    color: #3057A2;
}

.text_color_4{
    color: #3057A2;
}

.del_1{
color: darkred;
}


.footer{
    background-color: #E9DED4;
}
